/* 
    Created on : 17 Sep, 2014, 4:29:37 PM
    Author     : senthil
*/

 .ti_tx, .mi_tx, .mer_tx {
	width: 100%;
	text-align: center;
	margin: 10px 0;
	background: white;
	padding: 10px 0px;
	color: #00ECE5;
 }
 .time, .mins, .meridian {
    width: 45px;
	margin: 0px 10px;
	font-size: 20px;
	color: #2d2e2e;
	font-family: 'arial';
	font-weight: 700;
 }
 .tprev, .tnext {
    cursor: pointer;
    padding: 12px;
    width: 28%;
    margin: auto;

    border-radius: 5px;
} 
.tnext{ background: url(../images/arrow2.png) no-repeat;background-position-y: 15px; background-position: bottom center;     }
.tprev{ background-position: 50% -50%;    background: url(../images/arrow1.png) no-repeat;}
 
 .time_pick{ position:relative;text-align:center;}
.timepicker_wrap{ 
	text-align: center;
    z-index: 2;
	display:block; 
	background:#00ECE5; 
	float:left; 
	position:relative;
	width:100%;
	}

.arrow_top{ 
	position: absolute;
	top: -10px;
	left: 47%;
	background: url(../images/top_arr1.png) no-repeat;
	width: 18px;
	height: 10px;
	z-index: 3;
}
.tpicker{display:inline-table;}